.main-bg {
    background-image: url(/preaulaHTML/assets/img/spectrum-gradient.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-font);

}


.white-bg {
    background: var(--white-color);
    color: var(--primary-color);

}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;

}

.menu {
    z-index: 1;
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-pink-color);

}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

}

a {
    text-decoration: none;

}

.menu-spacing {
    margin: 6.5rem;
}

p {
    margin-bottom: 3rem;
}


.link-song-white {
    color: var(--white-font)
}

.link-song-primary {
    color: var(--primary-color)
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}


.contact {
    margin-top: 12rem ;
}
